.DataView {

  &.twoColumnView {
    // columns: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section {
    margin: 1em;
    .description {
      margin-bottom: 12px;
    }

  }

  svg {
    overflow: visible;
  }


}

.energyTypeToggle {
  margin-left: 1em;
  padding: 0.2em 0.5em;
  font-weight: bold;
  white-space: nowrap;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 0.25em;
  transition: opacity 0.3s ease-in-out;
  .Checkbox {
    margin-right: 0.5em;
  }
}
.controls {
  display: flex;
  margin-left: 1em;
  @media (max-width: 1150px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    .energyTypeToggle:first-of-type {
      margin-left: 1em;
    }

    .switch {
      margin-left: 1em;
      margin-top: 1em;
      + .switch {
        margin-left: 1em;
      }
    }
  }
  @media (max-width: 600px) {
    font-size: 0.85em;

    .year-picker  {
      margin-top: 0.5em;
      display: flex;
      flex-direction: column;
      > span {
        margin-left: 0;
        border-left: 0;
      }
    }
  }
}
