.DataView {

  &.twoColumnView {
    // columns: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section {
    margin: 1em;

    h2 {
      img {
        margin-left: 1em;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
