.dataViewIntro {
  margin: 1em;
}
.DataView {

  padding:.5em;

  &.twoColumnView {
    // columns: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section {
    margin: .5em;
    border: 1px solid #dcdcdc;
    padding:20px;
    .description {
      margin-bottom: 12px;
    }

  }

  svg {
    overflow: visible;
  }




}
.disclaimer {
  font-size: 80%;
  padding: 1em;
  text-align:center;
}

.energyTypeToggle {
  margin-left: 1rem;
  display: inline-block;
  padding: 0.2em 0.5em;
  font-weight: bold;
  white-space: nowrap;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 0.25em;
  transition: opacity 0.3s ease-in-out;
  .Checkbox {
    margin-right: 0.5em;
  }
}
.controls {
  display: flex;
  margin-left: 1rem;
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: 0;
    .energyTypeToggle:first-of-type {
      margin-left: 1rem;
    }

    .energyTypes {
      margin-bottom: 1rem;
    }

    .switch {
      margin-left: 1rem;
      margin-top: 1rem;
      + .switch {
        margin-left: 1rem;
      }
    }
  }
  @media (max-width: 600px) {
    font-size: 0.85em;

    .year-picker  {
      margin-top: 0.5em;
      display: flex;
      flex-direction: column;
      > span {
        margin-left: 0;
        border-left: 0;
      }
    }

    .energyTypes {
      svg[data-tip] {
        display: none;
      }
    }
  }
}
