
.intro {
  position: relative;
  text-align: center;
  flex-grow: 1;

  .introMap {
    width: 100vw;

    opacity: 0;
    transition: opacity 1s ease-in-out;
    &.visible {
      opacity: 1;
    }
  }
  .introText {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 36em;
    > * {
      padding: 1em;

      background-color: rgba(255,255, 255, 0.6);
      transition: opacity 1s ease-in-out;
      opacity: 0;
      margin: 0;
      &.visible {
        opacity: 1;
      }
    }
  }

  h1 {
    margin: 0;
    font-size: 1.1em;
  }
  .highlight {

    font-size: 1.4em;
    font-weight: bold;
  }

  .buttons {
    position: fixed;
    bottom: 0em;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 100;
    padding: 2em 1em 2em;
    width: 100%;

    &.introDismissed {
      background:rgba(255,255, 255, 0.6);
      background-image: -webkit-gradient(linear, left center, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));

    }

    &.mobileLayout.introDismissed {
      background-image:none;
      background-color: rgba(255,255, 255, 0.9);
    }
    &.visible {
      opacity: 1;
    }
    > button, > a {
      appearance: none;
      border: none;
      background-color: #F0F0F0;
      font-weight: bold;
      padding: 0.5em 1em;
      color: #000;
      text-decoration: none;
      font-size: 1em;
      cursor: pointer;
      + button, + a {
        margin-left: 1em;
      }
    }

    .scrollToContinue {
      font-size: 0.7em;
      color: #222222;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
      opacity: 0;
      transition: 0.3s ease-in-out opacity;
      &.visible {
        opacity: 1;
      }

    }
  }

  .restOfIntro {
    max-width: 36em;
    margin: 0 auto;
    padding: 0 1em;
    margin-top: 3em;
    section {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: space-around;
    }
    h2 {
      font-size: 1.1em;
      padding: 1em 0 5em;
      position: sticky;
      top: 100px;
      background-image: -webkit-gradient(linear, left center, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));

    }
    p {
      padding: 3em 0;
    }
  }


  .fossilFuel {
    background-color: #F4A77E;
    fill: #F4A77E;
    font-weight: bold;
  }

  .clean {
    background-color: #63CAD1;
    fill: #63CAD1;
    font-weight: bold;
  }


  svg.fuelTypes {
    position: fixed;
    z-index: 100;
    left: 0;
    pointer-events: none;


    text {
      font-weight: bold;
    }

    g {
      transition: 1s ease-in-out opacity;
    }
  }

  @media (max-width: 1000px) {
    .introText {
      width: 24em;
    }

  }
}
