.FinanceTracker {
  padding: 0 1em 1em;

  .description {
    max-width:70em;
    margin:0 auto;
    padding:0 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 0.5em;
    thead {
      font-size: 0.7em;
      font-weight: bold;
      td {
        vertical-align: bottom;
        padding-bottom: 0.2em;
      }
    }

    td:first-child {
      padding-left: 0.5em;
    }

    tbody {
      tr.table td {
        cursor: pointer;
        border: 1px solid black;
        margin-bottom: 0.5em;
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding: 0.2em 0;

        &:first-child {
          border-left: 1px solid black;
          padding-left: 0.5em;
        }
        &:last-child {
          border-right: 1px solid black;
        }
      }
    }

    .policies td {
      padding: 0;
      border: 1px solid black;
      border-top: none;

      > div {

        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease-in-out max-height;
        &.open {
          max-height: 100em;
        }
      }
      .policyList {
        display: flex;
        width: 100%;

        .policy {
          padding: 1em;
          div:first-child {
            font-weight: bold;
            margin-bottom: 0.5em;
          }
          width: 25%;

          + div {
            margin-left: 1em;
          }
        }
      }
    }
    .spacer td {
      padding-bottom: 1em;
    }
  }
  .sources {
    margin-top: 1em;
    padding: 1em;
    background-color: #F0F0F0;
    p {
      margin-bottom: 0;
      word-break: break-all;
    }
    a {
      color: #005080;
    }
  }
  .dot {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    opacity: 1; // was .5 previously
    margin: 0 auto;
  }
  .controls {
    display: flex;
    justify-content: space-between;
  }
  .legend {
    // background-color: #F0F0F0;
    // padding: 0.5em;
    .legend-title {
      font-weight: bold;
      font-size: 1.125em;
      margin-bottom: 0.5em;
    }
    .legend-items {
      display: flex;
      > div {
        display: flex;
        .dot {
          margin-right: 0.5em;
          @media (min-width:768px) {
            margin-top:10px;
          }
        }
        + div {
          margin-left: 2.5em;
        }
      }
    }
  }

  .tableContainer {
    position: relative;
    max-width:70em;
    margin: 0 auto;

    .dotTooltip {
      position: absolute;
      left: 0;
      top: 0;

      max-width: 20em;
      pointer-events: none;

      z-index: 10;
      border: 1px solid #D9D9D9;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
      background-color: #fff;
      .dotTooltip-content {
        padding: 0.5em;

      }
      .dot-tooltip-title {
        font-weight: bold;
      }
    }
  }


  &.singleColumnView {
    font-size: 0.9em;
    .legend {
      .legend-items {
        flex-direction: column;
        .dot {
          margin-left: 0;
        }
        > div {
          + div {
            margin-left: 0;
            margin-top: 0.5em;
          }
        }
      }
    }
    tr.table {
      td:first-child {
        padding-right: 0.5em;
      }
    }
    tr.policies td {
      .policyList {
        flex-direction: column;

        &.open {
          max-height: 80em;
        }
        > div {
          width: auto;
          + div {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.sortBy {
  display:inline;
  @media (max-width: 768px) {
    display:block;
  }
}